/* Breakpoint	Class infix	Dimensions
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial;
  background: transparent;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #000;
}

main {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

/* .container {
  max-width: 95vw;
} */

/* @media (max-width: 596px) {
  .container {
    max-width: 100vw;
  }
} */

.main-container {
  height: 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #142D50;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
;
  width: 100vw; */
}

.tickers-container {
  position: relative;
}

.tickers {
  position: absolute;
  /* starts off the screen */
  left: 120%; 
  animation: scroll 25s infinite linear;
}

/* The animation code */
@keyframes scroll {
  from {
    /* off to the screen left side*/
    left: 120% 
  }
  to {
    /* off to the screen rigth side*/
    left: -200%
  }
}

.tickers-icon {
  width: 30px;
}