@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial;
  background: transparent;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

:root {
  --marquee-width: 100vw;
  --marquee-height: 2.6rem;
 /* --marquee-elements: 12;*/ /* defined with JavaScript */
  --marquee-elements-displayed: 6;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 4s);
}

.marquee {
  /* width: var(--marquee-width); */
  height: var(--marquee-height);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #142D50;
}

.marquee-news {
  /* width: var(--marquee-width); */
  height: 2.6rem;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  /* width: var(--marquee-element-width); */
  max-height: 100%;
  white-space: nowrap;
}

.fw-bold{
  font-weight: bold;
}

.text-danger{
  color: #fb2d2d !important;
}

.text-success{
  color: #1bb31b !important;
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}

.tickers-icon {
  height: var(--marquee-height);
  padding: 8px 0 8px 0;
}

.blink {
  animation: blink-animation 0.2s steps(1, start);
  -webkit-animation: blink-animation 0.2s steps(1, start);
}
@keyframes blink-animation {
  0%, 100% {
    color: inherit;
  }
  50% {
    color: white;
  }
}
@-webkit-keyframes blink-animation {
  0%, 100% {
    color: inherit;
  }
  50% {
    color: white;
  }
}

iframe {
  margin: 0;
  padding: 0;
  border: 0;
}