@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial;
  background: transparent;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

:root {
  --marquee-width: 100vw;
  --marquee-height: 3rem;
 /* --marquee-elements: 12;*/ /* defined with JavaScript */
  --marquee-elements-displayed: 6;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 4s);
}

.main-container {
  width: var(--marquee-width);
  height: var(--marquee-height);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #142D50;
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}

.tickers-icon {
  width: 30px;
}